# Ignore Python build/temp files
__pycache__/
*.pyc

# Ignore environment files
.venv/
env/
venv/

# Ignore Operating System files
.DS_Store

# Ignore Streamlit/HuggingFace cache files (often large)
.streamlit/
/models/
/cache/